* {
    font-family: roboto, sans-serif;
    margin: 0;
    pad: 0;
}

body{
    padding: 0;
    margin: 0;
}

.header-container{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
}

.header{
    width: 75%;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.links{
    display: flex;
    list-style: none;
    gap: 15px;
    font-size: 17px;
    color: #c6c6c6;
}

.header-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    margin-top: 115px;
    margin-bottom: 135px;
}

.info,
.header-img{
    flex: 1;
}

.heading{
    font-size: 23px;
    font-weight: extra-bold;
    color: #F9FAF8;
    line-height: auto;
    max-width: 90%;
}

.content{
    font-size: 17px;
    color: #c6c6c6;
    margin: 5px 0;
    max-width: 80%;
}

.signup-top{
    padding: 8px 33px;
    font-size: 19px;
    border: none;
    background-color: #3882F6;
    color: white;
    border-radius: 9px;
    font-weight: 500;
    margin-top: 6px;
}

.header-img{
    display: flex;
    justify-content: center;
    background-color: rgba(177, 177, 177, 0.583);
    align-self: stretch;
}

.img-text{
    align-self: center;
}

.mid-section-container{
    display: flex;
    justify-content: center;
    padding-bottom: 120px;
}

.mid-section{
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: center;
    align-items: center;
}

.mid-title{
    margin: 50px 0;
    justify-self: flex-start;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.mid-bottom{
    display: flex;
    justify-content: space-between;
    padding: 0 90px;
    text-align: center;
}

.random-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.illustration{
    border: 5px solid #3882F6;
    width: 70%;
    height: 160px;
    border-radius: 15px;
}

.random-text{
    color:  #717171;
    width: 75%;
    font-size: 18px;
}